/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


/*h1 {
	text-align: center;
	font-family: fantasy;
}*/

body {

  background: url('images.jpg') 0 0;
  
}

* {
  box-sizing:border-box;
}

/*#container{
    height: 400px;
    width:1000px;
    background-color: gray;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px red;
   
  }*/

h1 {
  text-align:center;
  font-family: sans-serif;
  margin-left: 20px;
  
}

p {
  font-size:24px;
}

/*#container{
  border:2px;
  border-radius:10px;
  width:1000px;
  height:400px;
  background-color:gray;
  
}*/

/**/

.firstPage, .quiz-interface, .answer-response, .quiz-results {
  margin: 20px;
  padding: 26px;
  /*border: 2px solid darkgoldenrod;*/
  background-color:rgb(61, 56, 56);
  display: flex;
  flex-direction: column;
  color:white;
  border-radius:10px;
  border:2px;
  box-shadow: 3px 3px 3px 3px white;
 
}

/*#container-1, .quiz-interface {
  margin: 20px;
  padding: 26px;
  /*border: 2px solid darkgoldenrod;*/
  /*background-color:rgb(61, 56, 56);
  display: flex;
  flex-direction: column;
  color:white;
  border-radius:10px;
  border:2px;
  box-shadow: 3px 3px 3px 3px white;

}*/

ol li {
  margin: 8px;
  font-size: 24px;
}


.quiz-results {
  text-align: center;
  background-color: green;
}

.submit-answer, .restart-quiz {
	display: block;
	text-align: center;
  margin: 0 auto;
  background-color:rgb(95, 79, 233);
  border-radius:15px;
  cursor:pointer;
  width:200px;
  height:50px;
  color:white;
}


#StartQuizApp  {
  display: block;
	text-align: center;
  margin-top: 100px;
  background-color:rgb(95, 79, 233);
  border-radius:15px;
  cursor:pointer;
  width:100px;
  height:50px;
  color:white;
  
} .next-question{
  background-color:rgb(95, 79, 233);
  border-radius:15px;
  cursor:pointer;
  width:100px;
  height:50px;
  color:white;
}

/* Media Query and type  for screen less or equal to 800px*/

@media all and (max-width: 800px) {
  #container-1 {
    flex-direction:column;
    width: 100%;
    margin: auto;
  }

}

/* Media Query and type  for screen grater or equal to 800px*/
@media all and (min-width: 800px) {
  #container-1 {
    flex-direction:row;
    width: 100%;
    margin: auto;
  }

}
