/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/*    */
html{
  background-image: url("images/image-us-flag.jpg" );
   
}

/* HEADER    */

header div{
  text-align:center;
}
header div p{
 font-size: 10px;
 
}

/* H VALUES   */
h1{
  color:#BD0B2F;
}

/* ---------------Groups & Items  (Mobile First) ----------- */
#container{
  width: 100%;
  margin:auto;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}
/* Media Query and type  for screen grater or equal to 600px*/
@media all and (max-width: 600px) {
  #container {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: column;
  }
}


/* Media Query and type  for screen grater or equal to 600px*/
@media all and (min-width: 600px) {
  #container {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}





/*-------------- THE CONTAINER ---------------------------*/
#container{
  height: 300px;
  width:1000px;
  background-color: rgb(209, 202, 202);
  margin: 20px auto;
  padding:20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px black;
  position:relative;
}


.result{
  text-align:center;
  font-size:20px;
  background-color: white;
  width:200px;
  position: absolute;
  left: 800px;
  border-radius: 15px;
  background-color: blue;
  color:white;
}

/*--------     btn    ---------------*/
#btn-next{
  text-align:center;
  font-size:20px;
  background-color: white;
  width:200px;
  position: absolute;
  left: 800px;
  margin-top:250px;
  height: 50px;
  border-radius: 15px;
  background-color: blue;
  color:white;
  padding:5px;
  cursor: pointer;
  display:none;
}
.btn-sbt{
  background-color: blue;
  color:white;
  border-radius: 10px;
  margin-top:35px;
}



.firstForm{
  font-size:20px;
  /*display:none;*/
  text-decoration: none;
  margin-left: 5px;
}
ul li{
  list-style: none;
}

#incorrectAnswer{
  background-color:red;
  color:white;
  position:absolute;
  left:400px;
  height:80px;
  width:300px;
  text-align: center;
  padding:10px;
  font-size:25px;
  border-radius: 15px;
  margin-top:70px;
  display:none;
}
#correctAnswer{
  background-color:green;
  color:white;
  position:absolute;
  left:400px;
  height:80px;
  width:300px;
  text-align: center;
  padding:20px;
  font-size:25px;
  border-radius: 15px;
  margin-top:70px;
  display:none;

}
.first-question{
  text-align: left;
  margin-left:10px;
}







